@import "partesFijas/panelsuperior.css";
@import "partesFijas/panelMenu.css";

body{
    font-family:"Arial",Georgia,Serif;
    font-size: 10pt;
    color: black;
    text-align: left;
}

#panelCambiante{
    text-align: center;
    border: 1px solid gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    behavior: url(ieCss3.htc);
}

#panelCambiante h1{
    margin-top: 10px;
}

/*#panelCambiante table{
    border: 1px solid gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    behavior: url(ieCss3.htc);    
}

td {
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
}
th{
    text-align: center;
    padding-left: 20px;    
}*/

.oculto{
    display: none;
}
.center{
    text-align: center;
}
.w90{
    width: 90%;
    margin-left: 5%;
}

/*Clase por defecto para los botones*/
.boton{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-right: 5px; 
    border: 1px solid #dadada;
    background-color: #eaeaea;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    color: #343434;
    border-radius:3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    behavior: url(ieCss3.htc);
}
.boton:hover{
    cursor: pointer;
    color:white;
    background:#eaeaea;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="eaeaea", endColorstr="9b9b9b"); /* Pour IE seulement et mode gradient à linear */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#9b9b9b));
    background-image: -moz-linear-gradient(top center, #eaeaea, #9b9b9b);
    background-image: -o-linear-gradient(top, #eaeaea, #9b9b9b); /*uniquement en mode linear*/
    /* fondo degradado para Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#9b9b9b);
    /* fondo degradado para Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#9b9b9b)";
    border-radius:3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    behavior: url(ieCss3.htc);
}
.botonSeleccionado{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color:#ffffff;
    background:#ffcb2f;
    border: 1px solid #F0713A;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="ffcb2f", endColorstr="f56b00"); /* Pour IE seulement et mode gradient à linear */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcb2f), to(#f56b00));
    background-image: -moz-linear-gradient(top center, #ffcb2f, #f56b00);
    background-image: -o-linear-gradient(top, #ffcb2f, #f56b00); /*uniquement en mode linear*/
    /* fondo degradado para Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcb2f, endColorstr=#f56b00);
    /* fondo degradado para Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcb2f, endColorstr=#f56b00)";
    border-radius:3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    behavior: url(ieCss3.htc);   
}


/*para las cajas de mensajes*/
.caja, .cajaInformacion, .cajaCorrecta, .cajaAlertas, .cajaError{
    clear: both;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: 0px 50%;
    text-align: center;
    border-radius:5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    behavior: url(ieCss3.htc);
}
.caja{
    border: 1px solid #dadada;
    background-color: #eaeaea;
    color: #343434;
}

.cajaInformacion {
    color: #00529b;
    background-color: #bde5f8;
    border-color: #00529b;
}
.cajaCorrecta {
    color: #4f8a10;
    background-color: #dff2bf;
    border-color: #4f8a10;
}
.cajaAlertas {
    color: #9f6000;
    background-color: #feefb3;
    border-color: #9f6000;
}
.cajaError {
    color: #d8000c;
    background-color: #ffbaba;
    border-color: #d8000c;
}


/* estilo para las tablas */
table {
 /*border-collapse: collapse; /* IE7 and lower */
 width: 80%;
 }
 .bordered {
 border: solid #ccc 1px;
 -moz-border-radius: 6px;
 -webkit-border-radius: 6px;
 border-radius: 6px;
 -webkit-box-shadow: 0 1px 1px #ccc;
 -moz-box-shadow: 0 1px 1px #ccc;
 box-shadow: 0 1px 1px #ccc;
 }
 .bordered th {
 background-color: #dce9f9;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
 background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
 background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
 background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
 background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
 background-image: linear-gradient(top, #ebf3fc, #dce9f9);
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
 -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
 box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
 border-top: none;
 text-shadow: 0 1px 0 rgba(255,255,255,.5);
 }
 .bordered td:first-child, .bordered th:first-child {
 border-left: none;
 }
 .bordered th:first-child {
 -moz-border-radius: 6px 0 0 0;
 -webkit-border-radius: 6px 0 0 0;
 border-radius: 6px 0 0 0;
 }
 .bordered th:last-child {
 -moz-border-radius: 0 6px 0 0;
 -webkit-border-radius: 0 6px 0 0;
 border-radius: 0 6px 0 0;
 }
 .bordered th:only-child{
 -moz-border-radius: 6px 6px 0 0;
 -webkit-border-radius: 6px 6px 0 0;
 border-radius: 6px 6px 0 0;
 }
 .bordered tr:last-child td:first-child {
 -moz-border-radius: 0 0 0 6px;
 -webkit-border-radius: 0 0 0 6px;
 border-radius: 0 0 0 6px;
 }
 .bordered tr:last-child td:last-child {
 -moz-border-radius: 0 0 6px 0;
 -webkit-border-radius: 0 0 6px 0;
 border-radius: 0 0 6px 0;
 }
 .bordered tr:hover {
 background: #fbf8e9;
 -o-transition: all 0.1s ease-in-out;
 -webkit-transition: all 0.1s ease-in-out;
 -moz-transition: all 0.1s ease-in-out;
 -ms-transition: all 0.1s ease-in-out;
 transition: all 0.1s ease-in-out;
 }
 .highlight
 {
 background: #fbf8e9;
 -o-transition: all 0.1s ease-in-out;
 -webkit-transition: all 0.1s ease-in-out;
 -moz-transition: all 0.1s ease-in-out;
 -ms-transition: all 0.1s ease-in-out;
 transition: all 0.1s ease-in-out;
 }
 bordered tbody tr:nth-child(even) {
 background: #f5f5f5;
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
 -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
 box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
 }
 .alternate {
 background: #f5f5f5;
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
 -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
 box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
 }
