#material{
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-line: underline;
    font-weight: bold;
}

#tabla{
    text-align: center;
}

#tabla table{
    margin: 0 auto;
    text-align: left;
}

#columnaNombre{
    overflow: hidden;
    width: 150px;
}