/********** fotter fijo y ocultable***************/
#panelInferior{
    text-decoration: none;
    margin-bottom: -2px;
    border: 1px solid #dadada;
    background-color: #eaeaea;
    color: #343434;
    border-radius:3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    behavior: url(ieCss3.htc);
}

#datosPie{margin-top: 10px;text-align: center}

/*************************/
