#panelMenu{
    margin-top: 10px;
    height: 168px;
}
#panelMenu li{
    list-style: none; 
}
#panelMenu li a{
    text-decoration: none;
    width: 120px;
    margin-left: -10px;
}
#panelMenuFijo{
    position: absolute;
}
#panelMenuFijo.fixed {
    margin-top: 10px;
    position: fixed;
    top: -2px;
}